.header-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center-align items horizontally */
    text-align: center; /* Ensure text is centered */
    padding-top: 5px;
    padding-bottom: 5px;
}

.avatar {
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
    margin-bottom: 50px !important; /* Add space below the avatar */
}

.author-info {
    margin-top: 10px !important; /* Add space above the text */
    max-width: 80% !important; /* Restrict the width of the text for better layout */
}

.author-info h1, .author-info h2, .author-info h3 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.author-info p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 0.8rem !important; /* Adjust the font size as needed */
    font-color: white !important;
}
